.slider-container {
    margin-left: 15px;
    margin-top: 50px;
    margin-right: 50px;
    align-items: center;
    width: stretch;
    padding: 1px;
}

.slider-container label {
    display: fill;
}

.slider-values {
    margin-top: 4px;
    display: inline-flex;
    height: auto;
    position: absolute;
    right: 20px;
    margin-right: 10px;
}

.slider-name {
    display: inline-flex;
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 200;
    float: left;
    margin-right: 5px;
    padding-bottom: 0;
}

.slider-units {
    left: 20;
    font-family: 'Montserrat';
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0;
    font-size: larger;
    font-weight: medium;
}
.slider-top-row {
    display: inline-flex;
    align-items: center;
    width: 500px;
    margin-left: auto;
    margin-right: 0;
}
.FormControlLabel {
    align-items: left;
}
.slider-container input[type="range"],
.slider-container input[type="number"],
.input-container {
    text-align: center;
    align-items: center;
    background: 'unset';
    background-color: aliceblue;
    height: 22px;
    width: 36px;
    padding: 0;
    margin: 1px;
    box-shadow: 'inherit';
    border-radius: '50% 50% 50% 0';
    background-color: '#52af77';
}

.slider-slider {
    padding-top: 8px;
    color: 'white';
    height: 8;
    border: 'none';
}

.filter-icon {
    cursor: pointer;
    position: fixed;
    right: 20px;
    height: 4vh;
    width: 30px;
    float: right;
    margin-right: 10px;
}

.filters-panel {
    padding-top: 56px;
    padding-right: 0;
    padding-left: 24px;
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    min-width: 400px;
    max-width: 85%;
    background-color: #192044;
    z-index: 3;
    transition: width 0.5s ease-in-out;
    overflow-y: auto;
    opacity: 90%;
}