.icon-container {
    display: flex;
    size: 2px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.icon {
    cursor: pointer;
    margin: 0 10px;
}

.icon.selected {
    border: 2px solid blue;
}

.popup {
    position: absolute;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}